body {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: row;
}
.warning {
  border: 2px solid red; 
}
.application {
  width: 500px;
  display: flex;
  flex-direction: row;
}
header {
  border: 1px solid black;
  width:500px;
}
section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
input {
  width: 290px;
  margin: 0 15px;
}
button {
  margin: 5px 15px;

}
select {
  width: 290px;
  margin: 0 15px;
}
span {
  margin: 1px 15px;
}
.info--block {
  display: flex;
  flex-direction: initial;
  margin: 1px 15px;
}
.info {
  width:320px;
  margin: 10px 15px;
}
footer {
  border: 1px solid black;
  width:500px;
}
