.form--row-error {
  display: none;
  font-size: 12px;
  color: red;
  text-align: right;
}
.form--row-error-empty {
  display: none;
  font-size: 12px;
  color: red;
  text-align: right;
}
.content--col {
  margin: 10px;
  border: solid gray 2px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
}
.form--row {
  width: 300px;
  height: 45px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: row;
}

.document--row {
  padding: 2px;
  width: 300px;
  margin-top: 25px;
  border: solid gray 2px;
  display: flex;
  flex-direction: row;
}

.form-send {
  margin: 5px 80px;
  width: 150px;
  height: 25px;
}
